@import "sheets-of-paper.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.page {
	width: 21cm;
	min-height: 29.7cm;
	padding-left: 2cm;
	padding-top: 2cm;
	padding-right: 2cm;
	padding-bottom: 2cm;
}
@page {
	size: A4 portrait;
	margin-left: 2cm;
	margin-top: 2cm;
	margin-right: 2cm;
	margin-bottom: 2cm;
}
p {
	text-align: justify;
}
@font-face {
	font-family: 'cepibase';
	src: url('basecepi.ttf') format('truetype');
}

.ticepi {
	font-family: 'cepibase';
	font-size: 35px;
	color: #01ae43;
	line-height: 1.3;
}

hr.new4 {
	border: 1px solid #01ae43;
}

.tablaz {
	border-top-style: solid;
	border-top-color: #01ae43;
}

p {
	font-size: 13px;
}

.pie {
	position: relative;
	bottom: -40px;
}

.pietem {
	position: relative;
	bottom: -10px;
}

.tbltema{
	padding: 0; 
   	margin: 0;
   	vertical-align: text-top;
}
ul:before{
    content:attr(aria-label);
    font-size: 11px;
	font-weight: bold;
	color:#3759f1;
    margin-left:-15px;
	display: inline-block;
}
li{
	font-size: 10px;
	list-style-image: url('dd.png');
	margin-left: 12px;
	text-transform: uppercase;
}
.asul{
	font-size: 10px;
	margin-left: 30px;
	text-transform: uppercase;
	color: rgba(34, 34, 207, 0.877);
	font-weight: bold;
}
.degra{
	background: rgb(255,255,255);
	background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 64%, rgba(49,43,232,0.4318102240896359) 100%);

}
