@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.dropdown {
  --max-scroll: 8;
  --text: #3F4656;
  --border: #2F3545;
  --borderActive: #23C4F8;
  --background: #151924;
  --arrow: #6C7486;
  --arrowActive: #E4ECFA;
  --listText: #99A3BA;
  --listBackground: #F5F9FF;
  --listActive: #E4ECFA;
  --listTextActive: #6C7486;
  --listBorder: none;
  --textFilled: #99A3BA;
  width: 420px;
  position: relative;
}

.dropdown.light {
  --text: #CDD9ED;
  --border: #CDD9ED;
  --borderActive: #23C4F8;
  --background: #fff;
  --arrow: #99A3BA;
  --arrowActive: #6C7486;
  --listText: #99A3BA;
  --listBackground: #fff;
  --listActive: #F5F9FF;
  --listTextActive: #6C7486;
  --listBorder: #E4ECFA;
  --textFilled: #6C7486;
}

.dropdown select {
  display: none;
}

.dropdown>span {
  cursor: pointer;
  padding: 9px 16px;
  border-radius: 6px;
  display: block;
  position: relative;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  transition: all 0.3s ease;
}

.dropdown>span:before,
.dropdown>span:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 1px;
  top: 50%;
  right: 15px;
  background: var(--arrow);
  transition: all 0.3s ease;
}

.dropdown>span:before {
  margin-right: 4px;
  transform: scale(0.96, 0.8) rotate(50deg);
}

.dropdown>span:after {
  transform: scale(0.96, 0.8) rotate(-50deg);
}

.dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-height: calc(var(--max-scroll) * 42px);
  top: 42px;
  left: 0;
  z-index: 1;
  right: 0;
  background: var(--listBackground);
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  transform-origin: 0 0;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transform: scale(0.8) translate(0, 4px);
  border: 1px solid var(--listBorder);
}

.dropdown ul li {
  opacity: 0;
  transform: translate(6px, 0);
  transition: all 0.3s ease;
}

.dropdown ul li a {
  cursor: pointer;
  display: block;
  padding: 10px 16px;
  color: var(--listText);
  text-decoration: none;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
}

.dropdown ul li a:hover {
  color: var(--listTextActive);
}

.dropdown ul li.active a {
  color: var(--listTextActive);
  background: var(--listActive);
}

.dropdown ul li.active a:before,
.dropdown ul li.active a:after {
  --scale: .6;
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  right: 17px;
  top: 50%;
  opacity: 0;
  background: var(--listText);
  transition: all 0.2s ease;
}

.dropdown ul li.active a:before {
  transform: rotate(45deg) scale(var(--scale));
}

.dropdown ul li.active a:after {
  transform: rotate(-45deg) scale(var(--scale));
}

.dropdown ul li.active a:hover:before,
.dropdown ul li.active a:hover:after {
  --scale: .9;
  opacity: 1;
}

.dropdown ul li:first-child a {
  border-radius: 6px 6px 0 0;
}

.dropdown ul li:last-child a {
  border-radius: 0 0 6px 6px;
}

.dropdown.filled>span {
  color: var(--textFilled);
}

.dropdown.open>span {
  border-color: var(--borderActive);
}

.dropdown.open>span:before,
.dropdown.open>span:after {
  background: var(--arrowActive);
}

.dropdown.open>span:before {
  transform: scale(0.96, 0.8) rotate(-50deg);
}

.dropdown.open>span:after {
  transform: scale(0.96, 0.8) rotate(50deg);
}

.dropdown.open ul {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(0, 12px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.dropdown.open ul li {
  opacity: 1;
  transform: translate(0, 0);
}

.dropdown.open ul li:nth-child(1) {
  transition-delay: 80ms;
}

.dropdown.open ul li:nth-child(2) {
  transition-delay: 160ms;
}

.dropdown.open ul li:nth-child(3) {
  transition-delay: 240ms;
}

.dropdown.open ul li:nth-child(4) {
  transition-delay: 320ms;
}

.dropdown.open ul li:nth-child(5) {
  transition-delay: 400ms;
}

.dropdown.open ul li:nth-child(6) {
  transition-delay: 480ms;
}

.dropdown.open ul li:nth-child(7) {
  transition-delay: 560ms;
}

.dropdown.open ul li:nth-child(8) {
  transition-delay: 640ms;
}

.dropdown.open ul li:nth-child(9) {
  transition-delay: 720ms;
}

.dropdown.open ul li:nth-child(10) {
  transition-delay: 800ms;
}

select {
  --text: #3F4656;
  --border: #2F3545;
  --background: #151924;
}

select.dropdown {
  padding: 9px 16px;
  border-radius: 6px;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  line-height: 22px;
  font-size: 16px;
  font-family: inherit;
  -webkit-appearance: none;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

.switch {
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

.switch input {
  display: none;
}

.switch input+span {
  padding-left: 38px;
  min-height: 20px;
  line-height: 20px;
  display: block;
  color: #3F4656;
  position: relative;
  white-space: nowrap;
}

.switch input+span:not(:empty) {
  padding-left: 46px;
}

.switch input+span:before,
.switch input+span:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 10px;
}

.switch input+span:before {
  top: 0;
  left: 0;
  width: 38px;
  height: 20px;
  border: 1px solid #2F3545;
  transition: all 0.3s ease;
}

.switch input+span:after {
  width: 14px;
  height: 14px;
  background: #2F3545;
  top: 3px;
  left: 3px;
  transition: all 0.45s ease;
}

.switch input+span+svg {
  display: none;
}

.switch input:checked+span:before {
  background: #5628EE;
  border-color: #5628EE;
}

.switch input:checked+span:after {
  background: #fff;
  transform: translate(18px, 0);
}

.switch:hover input:not(:checked)+span:before {
  border-color: #23C4F8;
}

body {
  --bg: #171C28;
  min-height: 100vh;
  font-family: "Mukta Malar", Arial;
  line-height: 22px;
  font-size: 16px;
  color: #ADAFB6;
  display: flex;
  justify-content: center;
  transition: background 0.3s ease;
  background: var(--bg);
}

body.light {
  --bg: #F5F9FF;
}

body .switch {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, 0);
}

body .dropdown {
  margin-top: 60px;
}

body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

body .dribbble img {
  display: block;
  height: 28px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.ticepi {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 35px;
  color: #01ae43;
  line-height: 1.3;
  text-align: center;
}



button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}


#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  border: medium none !important;
  font-weight: bold;
  color: #191828;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 50%;
  font-weight: bold;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}

select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* Transition */
.select:hover::after {
  color: #f39c12;
}
p {
	text-align: justify;
}
@font-face {
	font-family: 'cepibase';
	src: url('basecepi.ttf') format('truetype');
}

.ticepi {
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	color: #01ae43;
	line-height: 1.3;
}

hr.new4 {
	border: 1px solid #01ae43;
}

.tablaz {
	border-top-style: solid;
	border-top-color: #01ae43;
}

p {
	font-size: 13px;
}

.pie {
	position: relative;
	bottom: -40px;
}

.pietem {
	position: relative;
	bottom: -10px;
}

.tbltema{
	padding: 0; 
   	margin: 0;
   	vertical-align: text-top;
}
.asul{
	font-size: 10px;
	margin-left: 30px;
	text-transform: uppercase;
	color: rgba(34, 34, 207, 0.877);
	font-weight: bold;
}
.degra{
	background: rgb(255,255,255);
	background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 64%, rgba(49,43,232,0.4318102240896359) 100%);

}
